<div class="small-container">
  <form>
    <h1></h1>
    <div>
      <label for="photo"></label>
      <button
      mat-flat-button
      type="button"
      (click)="photoFile.click()"      
      [ngClass]="{'no-display': photoFile.value.length && !imageBlob}"
      >
      Select image
    </button>
    <input
    #photoFile
        type="file"
        accept=".png, .jpg"
        id="photo"
        formControlName="photo"
        class="no-display"
        (change)="imgSelected=!imgSelected; imageBlob='';"
      />
    </div>
    <button
      mat-flat-button
      
      type="button"
      class="submitBtn"
      (click)="onSubmit(photoFile)"
      [ngClass]="{'no-display': imageBlob || !photoFile.value}"
      >
      Detect
    </button>
  </form>
  <app-loading-spinner *ngIf="spinner"></app-loading-spinner>
  <img [src]="imageBlob" />
</div>
